!!! Strict
%html
  %head
    %title ¿Qué es el engagement? 
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %link{ :rel => "stylesheet", :type =>"text/css", :href=>"stylesheets/styles.css"}
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    %script{ :type => "text/javascript", :src => "/javascripts/application.js"}
    %link{ :type => "image/x-icon", :rel => "shortcut icon", :href => "/images/favicon.png"}
    :javascript
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28203483-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=300011373351057";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));    
    .fold_1
      .background
        .wrapper
          .title
            %h4 ¿QUÉ ES EL
            %h2 Engagement?
 	
          .text.left
            %p El engagement es el grado en el que un consumidor interactúa con tu marca. 
            %p{:style =>"color: #228B90;"} El compromiso entre la marca y los usuarios.
          .text.right
            %p Esto se basa en crear cierta fidelidad y motivación para que nuestros usuarios defiendan y se sientan parte de la marca, y de esta manera nos refieran nuevos usuarios. Tener usuarios engaged con tu marca es algo invaluable, ya que al pasar del tiempo se convertirán en evangelizadores de la marca. El éxito de tu negocio depende de los usuarios recurrentes.
          = partial :footer 
    .fold_2
      .measure
      .wrapper
        .fold1_content
          .title2
            %h1 ¿Cómo medir el engagement de mis usuarios?
            %br
          .engagement.left
            %p Mucha gente usa herramientas como Facebook insights, pero a la hora de medir el engagement esto no es suficiente. El engagement no se mide con Likes, sino con <a href ="http://esturisti.co/">interacciones con tu marca.</a> No es lo mismo decir "Me gusta" a mantener una conversación continua con la marca. Cuando un usuario interactua con tu marca, está tomándose el tiempo y esfuerzo de decir que le gusta la experiencia que le estas brindando, esto es invaluable. 
          .image
            %img{:src =>"/images/engagement.png"}	
          = partial :footer 
          	
		
    .fold_3
      .wrapper
        .fold1_content
          .title2
            %h4 ¿Por qué Facebook?
          .facebook.left
            %p{:style =>"font-size: 24px; line-height: 35px;"} Más del 80% de las empresas usan Facebook. Cuenta con mas de 600 millones de usuarios registrados en todo el mundo. Un usuario dedica mas de 55 minutos en Facebook al día.
            %p Facebook se ha convertido en un lugar importante para la comunicación y la interacción de los usuarios con las marcas. La mayor interacción se hace con el botón de "Like" o "Me gusta" ya que el 84% de las interacciones se hacen por este medio. Es muy importante <a href ="http://esturisti.co/">medir y saber cual es el contenido que le gusta más a mis usuarios</a>, para así poder generar más interacciones en mi página.
            %p Todo aquello que se lleva a cabo en la página debe medirse (sobre todo el engagement de mis usuarios). Lo importante no son los datos cuantitativos, sino la interpretación que se realice de ellos.
          .image
            %img{:src =>"/images/funnel.png"}
          = partial :footer 
          
		
    .fold_4
      .wrapper
        .fold1_content
          %h4 Algunas ideas
          .ideas.left
            %h3 Conversa con tus usuarios.
            %p Es esencial que tus usuarios no se sientan ignorados. <a href ="http://esturisti.co/">Responde todos tus mensajes</a>, que tu usuario vea que te tomaste el tiempo de elaborar una respuesta. La respuesta que le des no debe ser una plantilla estándar, sino una  personalizada de acuerdo al caso. Debes estar constantemente en busca de un diálogo, no esperes a que tus usuarios te hablen. Las preguntas son buenas para alentar al engagement, pide opiniones, que tus usuarios compartan historias con la comunidad. El contenido que generamos debe ser pensado para activar conversaciones. 

            %h3 Ten una personalidad definida.
            %p Tus usuarios estarán más engaged con tu marca si sienten que están hablando con una persona, no con una corporación. Ten una imagen y un tono de conversación consistentes. Ten una conversación natural, que tus usuarios no sientan que les estas constantemente vendiendo algo.

            %h3 Genera contenido de interés.
            %p Tus usuarios esperan leer contenido relevante. <a href ="http://esturisti.co/">Debes tener métricas del contenido que más le gusta a tus usuarios</a>, para así poder generar contenido que asegure el engagement. Tener contenidos que generen vínculos con tus usuarios creará comunidades de mejor calidad, páginas con más likes, marcas más seguidas, contenido más compartido, y en general usuarios más engaged. Lo que diferencia una página exitosa de una que no lo es, es la interacción y la participación de los usuarios. 
          .images
            %img{:src =>"/images/ideas.png"}
          = partial :footer
    .fold_6
      .wrapper
        .fold1_content
          <a name="entrevista"></a>
          .title2
            %h4 Aprendiendo de los grandes
            .grandes
              .bubble
                %blockquote
                  %p Si estás buscando incrementar el Engagement, la pregunta que debes responder es: ¿Cómo puedo crear algo relevante y emocionalmente positivo? Las Redes Sociales en su forma más básica tratan de crear conecciones reales con algo que nos interesa. También es sobre crear comunidades - que en realidad significa crear una relación. No necesitas ser un "experto" para crear una relación, sólo se necesita invertir un poco de tiempo y estar totalmente presente. Tu audiencia va a reconocer inmediatamente el valor que le brindas si todas las desiciones que haces son centradas alrededor de brindarle valor a tu comunidad. A lo mejor suena simple y lo es. Todo lo que toma son algunas conversaciones con gente que le interesas y estarás en camino a una comunidad Engaged.
                %p.right – <a href ="https://twitter.com/#!/SheenaMedina", target="_blank">Sheena Medina</a>. Community Manager at Fast Company.
              .bubble
                %blockquote
                  %p Una foto vale más que 1,000 palabras (o 1000 publicaciones): Nuestra comunidad visita Jetsetter para ver nuestras recomendaciones de vacaciones, pero son las fotos lo que a la gente le apasiona. <a href="http://instabrand.esturisti.co/", target="_blank">Nuestros concursos de fotos en Facebook y Pinterest es lo que más genera Engagement dentro de nuestra comunidad</a>. Tenemos fotografías increíbles y muchos fans que les encanta compartir fotos y hablar de sus experiencias con algún destino en particular. Nuestro equipo de Jetsetter está constantemente viajando, de estos viajes comparten albumes de fotos que son super populares dentro de nuestra comunidad.
                %p.right – <a href ="https://twitter.com/#!/JGoldmann", target="_blank">Jonathan Goldmann</a>. Social Media Manager at Jetsetter.
              .bubble
                %blockquote
                  %p No puedes forzarlo. Debe ser auténtico. Cuando hablamos de Engage a nuestros usuarios, nuestra filosofía es mantener la relación auténtica y real. No puedes forzar a la gente para que comparta tu contenido, tus usuarios se darán cuenta de inmediato. Nuestra técnica para Engage a los miembros de nuestra comunidad es brindarles <a href="http://esturisti.co/", target="_blank">contenido divertido, inesperado, lleno de color, y diseños diarios que les provoque sonreir.</a> Cuando descubres un diseño que te hace sonreir, quieres compartirlo con tus amigos.
                %p.right – <a href ="https://twitter.com/#!/sistaklein", target="_blank">Melissa Klein</a>. VP of communications at Fab.
              .bubble
                %blockquote
                  %p La comunidad es lo que hace Instagram especial. Desde el primer día, hemos hecho un gran esfuerzo en prestarle mucha atención a lo que nuestros usuarios nos dicen - desde Twitter, Facebook, email, comentarios en el App Store y en la aplicación - y eso hasta el día de hoy no ha cambiado. Crear relaciones con todo tipo de usuarios ha ayudado y ayudará a formar nuestra visión mientras trabajamos para crecer y nutrir a la comunidad.
                %p.right – <a href ="https://twitter.com/#!/joshriedel", target="_blank">Josh Riedel</a>. Community Manager at Instagram.
              .bubble
                %blockquote
                  %p <a href="http://embajadores.esturisti.co/", target="_blank">Identifica a los líderes de tu comunidad y apoya a estas personas lo más posible.</a> Estos son tus activos más valiosos. Contáctalos, conversa por teléfono, comprales un café, salgan a caminar juntos. Usa estas oportunidades para escuchar cómo se sienten con tu marca o compañía, y así descubrir lo que les puedes brindar.
                %p.right – <a href ="https://twitter.com/#!/totallymorgan", target="_blank">Morgan Evans</a>. Community Strategist at Etsy.
              .bubble
                %blockquote
                  %p No deleites a tus miembros de tu comunidad una sola vez. Crea relaciones duraderas con tus usuarios: Después de establecer una conección por primera vez, vuelve a contactarlos a pedirles su opinión, invitalos a alguna reunión de usuarios o meetup, o mandarles una tarjeta de navidad. Demuéstrales que los recuerdas y valoras, esto hace una gran diferencia.
                %p.right – <a href ="https://twitter.com/#!/resawu", target="_blank">Teresa Wu</a>. Community Manager at Google Docs.
              .bubble
                %blockquote
                  %p Conéctate con algo físico: Nuestro Engagement en las Redes Sociales es tan poderoso como su abilidad a crear el mismo Engagement en nuestras tiendas. En Enero, lanzamos la campaña de Año Nuevo, invitando a nuestros usuarios a compartir sus metas de este nuevo año escritas en un Post-it y pegarlas fuera de nuestras tiendas, así como en Twitter con el hashtag # sweet2012. Nuestros usuarios llenaron nuestras ventanas de todas nuestras sucursales con miles de Post-its compartiendo sus metas para este nuevo año. Algunas de mis favoritas fueron "correr un maratón", "tener un trabajo que me apasione", o (mi favorita) "pedirle que se case conmigo". Al final de la campaña, recolectamos más de 2,000 Post-its, cientos de tweets pasan por el micrositio en línea que creamos usando el hashtag #sweet2012.
                %p.right – <a href ="https://twitter.com/#!/mckeefloyd", target="_blank">McKee Floyd</a>. Director of brand development at Sweetgreen.
              %p{:style =>"font-size: 12px;, margin-bottom: -10px;"} Fuente: <a href ="http://mashable.com/2012/03/15/community-manager-engagement-tips", target="_blank"> Mashable</a>
            = partial :footer
	        	
			
			
          
    .fold_5
      .wrapper
        .fold1_content
          .title2
            %h4 un público relevante
          .herramientas
            %h5 Existen varias herramientas que te permiten hacer un mejor trabajo como Community Manager. <a href ="http://esturisti.co/">Esturisti.co</a> es una de ellas.
          .herramientas_text.left
            %h3 Descubre los mensajes que nunca tuvieron respuesta.
            %p La mayoría de los community managers piensan que hacen un excelente trabajo respondiendo los mensajes de sus usuarios, y estamos seguros que esa es su intención. Lamentablemente muchos de ellos se nos quedan en el olvido. Cada mensaje que no obtuvo respuesta es una oportunidad perdida de hacer una venta o una acción.
            %h3 Conoce a los usuarios que estan más engaged con tu marca.
            %p Es muy importante reconocer los usuarios que te han ayudado a crecer tu marca en Facebook. Estos usuarios no son como los demás tienen mucho más valor. Son evangelizadores de tu marca y los debes tratar como tal. Habla con ellos, saludalos, dales un reconocimiento público, hazlos sentir importante y serán tu publicidad más preciada.
            %h3 Crea el contenido que tus usuarios esperan.
            %p Tus usuarios esperan mucho de ti, por algo te siguen. En el momento que se fastidien de tu contenido irrelevante, sencillamente se van. ¿Cómo saber cual es el contenido que mis usuarios quieren leer? Descúbre esta información con <a href ="http://esturisti.co/">Esturisti.co</a>
          .image{:style =>"margin: -5px 0 25px 0;"}
            %img{:src =>"/images/herramientas.png"}
          = partial :footer
	      
